{% extends "layout.html" %}
{% block content %}

<style> 
    .enter_btn input[type="submit"] {
        width: 280px;
        height: 50px;
        display: inline-block;  
        text-decoration: none;
        background:#778899;
        color: #FFF;
        border-bottom: solid 4px #696969;
        border-radius: 10px; 
        text-align: center;
        vertical-align: middle; 
        font-size: 20px;
    }

    .enter_btn input[type="submit"]:active {
        -webkit-transform: translateY(4px);
        transform: translateY(4px); 
        border-bottom: none; 
    }
    
    .enter_btn {
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    }

    .enter_btn input[type="file"] {
    background-color: #FFF;
    color: #2f4f4f;
    padding:100px 50px;
    border-radius: 5px;
    }   
    

    
</style>

<div class="enter_btn">
    <h5 style="text-align:center">画像のアップロード</h5>
    <form action = "/upload" method="post" enctype="multipart/form-data">
        <p><input type="file" id = "upload_file" name = "upload_file" multiple="multiple" class="form-control"></p>
        <p><input type="submit" value="面積率を計測する" class="form-control btn-square"></p>
    </form>
</div>

{% endblock %}